<!-- new header -->

{% extends "layout.njk" %}

{% block header %}
	{% include "partials/drake--nav-2.html" %}
{% endblock %}

{% block content %}
	{% include "partials/front-content.njk" %}
{% endblock %}
