{% extends "layout.njk" %}

{% block header %}
	{% include "partials/drake--nav.njk" %}
{% endblock %}

{% block hero %}
	{% include "partials/hero.njk" %}
{% endblock %}

{% block content %}
	{% include "partials/drake--filter-tabs.njk" %}
{% endblock %}