{% extends "layout.njk" %}

{% block content %}
	<!-- index.njk -->
	<h1>This is the more changed index page</h1>
	<!-- Adds the navigation partial -->
	{% include "partials/product-list.njk" %}

	{% import "macro/nav-macro.njk" as nav %}
	{{nav.active('home')}}

{% endblock %}