<!-- drake--nav -->

<div class="box nav-container">
	<div class="container">
		<div class="nav">
			<div class="logo">
				<h1>Logo</h1>
			</div>
			<div class="nav__products">
				<div class="nav__product dropdown-link" data-dropdown="hi-fi">
					Hi-Fi <span class="direction-arrow">&gt;</span>
				</div>
				<div class="nav__product dropdown-link" data-dropdown="speakers">
					Speakers <span class="direction-arrow">&gt;</span>
				</div>
				<div class="nav__product dropdown-link" data-dropdown="home_cinema">
					Home Cinema <span class="direction-arrow">&gt;</span>
				</div>
				<div class="nav__product">
					All Products
				</div>
			</div>
			<div class="header-help">
				<div class="search-container">
					<div class="search">
						<input placeholder="Search..." class="search-box box box-test-2">
						<span class="mag-glass"><img src="/source/imgs/magnifying-glass.png" alt=""></span>
					</div>
				</div>
				<div class="menu dropdown-link" data-dropdown="menu">
					<img src="/source/imgs/menu-hand-drawn-lines-outlines.png" alt="">
					Menu
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Dropdowns -->

<div class="dropdown-container" data-dropdown="hi-fi">
	<div class="dropdown__category box">
		<h3>Hifi</h3>
		<div class="dropdown__subcategories">
			
		</div>
		<div class="dropdown__products">
			
		</div>
	</div>
</div>
<div class="dropdown-container" data-dropdown="speakers">
	<div class="dropdown__category box">
		<h3>Speakers</h3>
		<div class="dropdown__subcategories">
			
		</div>
		<div class="dropdown__products">
			
		</div>	</div>
</div>
<div class="dropdown-container" data-dropdown="home_cinema">
	<div class="dropdown__category box">
		<h3>Home Cinema</h3>
		<div class="dropdown__subcategories">
			
		</div>
		<div class="dropdown__products">
			
		</div>	</div>
</div>
<div class="dropdown-container" data-dropdown="menu">
	
</div>