<div class="container">
	<h1>PRODUCTS</h1>
</div>
<br><br>
<div class="container">
	<div class="filter">
		<div class="filter__group">
			<div class="filter__title">
				<h2>Systems</h2>
			</div>
			<div class="filter__headings">
				<div class="filter__heading selected">All</div>
				<div class="filter__heading">Hi-Fi</div>
				<div class="filter__heading">Speakers</div>
				<div class="filter__heading">Home Cinema</div>
			</div>
		</div>
		<div class="filter__group">
			<div class="filter__title">
				<h2>Categories</h2>
			</div>
			<div class="filter__categories">
				<div class="filter__category" data-system="Hi-Fi">Network Players</div>
				<div class="filter__category" data-system="Hi-Fi">Disc Players</div>
				<div class="filter__category" data-system="Hi-Fi">Amplifiers</div>
				<div class="filter__category" data-system="Hi-Fi">DACs</div>
				<div class="filter__category" data-system="Hi-Fi">Phono Stages</div>
				<div class="filter__category" data-system="Hi-Fi">All-in-one Systems</div>
				<div class="filter__category" data-system="Hi-Fi">SE1</div>
				<div class="filter__category" data-system="Speakers">Floor Standing</div>
				<div class="filter__category" data-system="Speakers">Standmount</div>
				<div class="filter__category" data-system="Speakers">Bookshelf</div>
				<div class="filter__category" data-system="Speakers">Surround</div>
				<div class="filter__category" data-system="Speakers">Subwoofers</div>
				<div class="filter__category" data-system="Speakers">In-Ceiling</div>
				<div class="filter__category" data-system="Speakers">Wireless</div>
				<div class="filter__category" data-system="Home Cinema">AV Receivers</div>
				<div class="filter__category" data-system="Home Cinema">Bluray Player</div>
				<div class="filter__category" data-system="Home Cinema">Surround Speakers</div>
				<div class="filter__category" data-system="Home Cinema">Subwoofers</div>
				<div class="filter__category" data-system="Home Cinema">TV Speakers</div>
			</div>
		</div>
		<div class="filter__group">
			<div class="filter__title">
				<h2>Ranges</h2>
			</div>
			<div class="filter__ranges">
				<div class="filter__range">Edge</div>
				<div class="filter__range">851</div>
				<div class="filter__range">CX</div>
				<div class="filter__range">Azur</div>
				<div class="filter__range">Topaz</div>
				<div class="filter__range">Aero</div>
				<div class="filter__range">Aeromax</div>
				<div class="filter__range">Minx</div>
				<div class="filter__range">Yoyo</div>
				<div class="filter__range">Evo</div>
			</div>

		</div>
		<div class="filter__group">
			<div class="filter__title">
				<h2>Features</h2>
			</div>
			<div class="filter__features">
				<div class="filter__feature">Integrated</div>
				<div class="filter__feature">Power Amp</div>
				<div class="filter__feature">AV Receiver</div>
				<div class="filter__feature">With DAC</div>
				<div class="filter__feature">Portable</div>
				<div class="filter__feature">Bluetooth</div>
				<div class="filter__feature">Cast</div>
				<div class="filter__feature">Airplay</div>
				<div class="filter__feature">Stereo</div>
				<div class="filter__feature">Multiroom</div>
				<div class="filter__feature">TV Compatible</div>
			</div>

		</div>
	</div>
</div>

<div class="container">
	<h2>Results</h2>
	<div class="results-list">
		
	</div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
