<div class="hero box img--blueprint">
	
</div>

<div class="container">
	<h2>Content</h2>
	<div class="dummy-text">
				
		<div class="pretend-box box border">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="pretend-box box border">
			<p>Voluptatum in, blanditiis at, labore neque soluta minus pariatur id illum.</p>
		</div>

		<div class="pretend-box box border">
			<p>Blanditiis non maiores unde enim hic consequuntur nihil dolorum..</p>
		</div>

		<div class="pretend-box box border">
			<p>Molestiae nulla facere officia suscipit blanditiis at odio? Dolorem deserunt maxime.</p>
		</div>

		<div class="pretend-box box border">
			<p>Odit autem, voluptatibus incidunt culpa, ipsum, est quo illum accusantium.</p>
		</div>

		<div class="pretend-box box border">
			<p>Voluptates magnam necessitatibus, omnis perferendis sequi est natus ut fugiat.</p>
		</div>

		<div class="pretend-box box border">
			<p>Ipsum quidem, dolores error rem odio, voluptatum.</p>
		</div>

		<div class="pretend-box box border">
			<p>Nobis, saepe at neque aspernatur veritatis.</p>
		</div>
		
	</div>
</div>