<!-- navigation.njk -->
<div class="products">
  	<!-- Loops through "navigation" OBJECT -->
	{% for link in navigation %}
	<div class="products__list">
    	<div>{{link.title}}</div>
    	{% for child in link['child-category'] %}
		<div class="dfd">&nbsp;&nbsp;&nbsp;&nbsp;{{child.title}}</div>
	    	{% for product in child.products %}
			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{product.title}}</div>
	    	{% endfor %}
    	{% endfor %}
	</div>
	{% endfor %}
</div>
