<!-- navigation.njk -->
<div class="products">
  	<!-- Loops through "navigation" OBJECT -->
	{% for link in navigation %}
	<div class="products__list">
    	<div>{{link.title}}</div>
    	{% for child in link['child-category'] %}
		<div class="dfd">&nbsp;&nbsp;&nbsp;&nbsp;{{child.title}}</div>
	    	{% for product in child.products %}
			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{product.title}}</div>
	    	{% endfor %}
    	{% endfor %}
	</div>
	{% endfor %}
</div>

<!-- product-list.njk -->
{% for link in navigation %}
<ul>
	<h1>{{ link.title }}</h1>
		<ul>
    	{% for child in link['child-category'] %}
			<li><h2>{{ child.title }}</h2></li>
			<ul>
			{% for product in child['products'] %}
				<li><h3>{{ product.title }}</h3></li>
				{% else %}
				<li><h3>(Range)</h3></li>
			{% endfor %}
			</ul>
    	{% endfor %}
    	</ul>
</ul>
{% endfor %}
