
<!-- With tabs -->

<div class="hero box img--blueprint green">
	<div class="container">
		<div class="hero-container">
			<h1 class="products-title">PRODUCTS</h1>
			<div class="products-introduction">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab distinctio odit laborum aliquam, eveniet repellat eaque, deserunt dicta minima corporis adipisci reiciendis error voluptatem laboriosam tempora magnam repellendus perspiciatis pariatur.</p>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container">
	<h1 class="products-title">PRODUCTS</h1>
	<div class="products-introduction">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab distinctio odit laborum aliquam, eveniet repellat eaque, deserunt dicta minima corporis adipisci reiciendis error voluptatem laboriosam tempora magnam repellendus perspiciatis pariatur.</p>
	</div>
</div> -->

<br>
<br>
<br>
<br>

<div class="container">
	<div class="filter filter--sidebar">
		<div class="sidebar">
			<h1>Filter</h1>
			<div class="found-count">
				Products found:&nbsp;<span class="found-count--number round"></span>
			</div>

			<div class="filter__group">
				<div class="filter__title">
					<h2>Systems</h2>
				</div>
				<div class="filter__headings">
					<div class="filter__heading selected">All</div>
					<div class="filter__heading">Hi-Fi</div>
					<div class="filter__heading">Speakers</div>
					<div class="filter__heading">Home Cinema</div>
				</div>
			</div>
			<div class="filter__group">
				<div class="filter__title">
					<h2>Categories</h2>
				</div>
				<div class="filter__categories">
					<div class="filter__category" data-system="Hi-Fi">Network Players</div>
					<div class="filter__category" data-system="Hi-Fi">Disc Players</div>
					<div class="filter__category" data-system="Hi-Fi">Amplifiers</div>
					<div class="filter__category" data-system="Hi-Fi">DACs</div>
					<div class="filter__category" data-system="Hi-Fi">Phono Stages</div>
					<div class="filter__category" data-system="Hi-Fi">All-in-one Systems</div>
					<div class="filter__category" data-system="Hi-Fi">SE1</div>
					<div class="filter__category" data-system="Speakers">Floor Standing</div>
					<div class="filter__category" data-system="Speakers">Standmount</div>
					<div class="filter__category" data-system="Speakers">Bookshelf</div>
					<div class="filter__category" data-system="Speakers">Surround</div>
					<div class="filter__category" data-system="Speakers">Subwoofers</div>
					<div class="filter__category" data-system="Speakers">In-Ceiling</div>
					<div class="filter__category" data-system="Speakers">Wireless</div>
					<div class="filter__category" data-system="Home Cinema">AV Receivers</div>
					<div class="filter__category" data-system="Home Cinema">Bluray Player</div>
					<div class="filter__category" data-system="Home Cinema">Surround Speakers</div>
					<div class="filter__category" data-system="Home Cinema">Subwoofers</div>
					<div class="filter__category" data-system="Home Cinema">TV Speakers</div>
				</div>
			</div>
			<div class="filter__group">
				<div class="filter__title">
					<h2>Ranges</h2>
				</div>
				<div class="filter__ranges">
					<div class="filter__range">Edge</div>
					<div class="filter__range">851</div>
					<div class="filter__range">CX</div>
					<div class="filter__range">Azur</div>
					<div class="filter__range">Topaz</div>
					<div class="filter__range">Aero</div>
					<div class="filter__range">Aeromax</div>
					<div class="filter__range">Minx</div>
					<div class="filter__range">Yoyo</div>
					<div class="filter__range">Evo</div>
				</div>

			</div>
			<div class="filter__group">
				<div class="filter__title">
					<h2>Features</h2>
				</div>
				<div class="filter__features">
					<div class="filter__feature" data-feature="Amplifiers">Integrated</div>
					<div class="filter__feature" data-feature="Amplifiers">Power Amp</div>
					<div class="filter__feature" data-feature="Amplifiers">AV Receiver</div>
					<div class="filter__feature" data-feature="Amplifiers">With DAC</div>
					<div class="filter__feature" data-feature="Wireless">Portable</div>
					<div class="filter__feature" data-feature="Wireless">Bluetooth</div>
					<div class="filter__feature" data-feature="Wireless">Cast</div>
					<div class="filter__feature" data-feature="Wireless">Airplay</div>
					<div class="filter__feature" data-feature="Wireless">Stereo</div>
					<div class="filter__feature" data-feature="Wireless">Multiroom</div>
					<div class="filter__feature" data-feature="Wireless">TV Compatible</div>
				</div>

			</div>
			<div class="filter__group">
				<div class="filter__title">
					<h2>Sort</h2>
				</div>
				<select class="round" name="" id="">
						<option value="1">Expensive</option>
						<option value="2">Cheap</option>
						<option value="3">New</option>
						<option value="3">Old</option>
					</select>

			</div>
		</div>
		<div class="filter__group filter__group--og filter__group--tabs">
			<div class="filter__content">
				
				<div class="results-list">
					
				</div>
			</div>
			
		</div>
		
		
	</div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>