.container {
    margin: 0 auto;
}

.logo {
	text-transform: uppercase;
}

.hide {
	display: none;
}

p {
	line-height: 1.5em;
}

select {
	font-family: 'Gloria Hallelujah', cursive;
	color: #41403E; 
	font-weight: 800;
}

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
	    width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}
}