.filter__headings {
	display: flex;
	// justify-content: space-between;
}

.filter__heading {
	margin: 0 15px 0 0;
	padding: 15px;
	border: 4px solid #fff;
	cursor: pointer;
	&.selected  {
	    border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 4px solid #41403E;
	}
}

.filter__categories {
	display: flex;
	flex-wrap: wrap;
}

.filter__category {
	margin: 0 15px 0 0;
	padding: 15px;
	border: 4px solid #fff;
	cursor: pointer;
	&:hover {
		border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
		border: 4px solid #cac7c2;
	}
	&.inactive {
		color: #b9aeae;
	}
	&.selected  {
	    border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 4px solid #41403E;
	}
}

.filter__features {
	display: flex;
	flex-wrap: wrap;
}

.filter__feature {
	margin: 0 15px 0 0;
	padding: 15px;
}

.filter__ranges {
	display: flex;
	flex-wrap: wrap;
}

.filter__range {
	margin: 0 15px 0 0;
	padding: 15px;

}

.results-container {
	padding: 15px;
}

.results-list {
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	& > * {
		padding: 15px;
		margin: 0 15px 15px 0;
	}
}

// tabs

.filter__category--tabs {
	display: block;
	&.inactive {
		display: none;
	}
}

.filter__group--tabs {

}

.filter__categories--tabs {
	position: relative;
	padding: 15px;
	background: #fff;
}

.filter__heading--tabs {
	margin: 0 0 0 15px;
	position: relative;
	bottom: -5px;
	background: #fff;
	border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
	border: 4px solid #41403E;
	&.selected {
		border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
		z-index: 2;
		border-bottom-color: #fff;

	}
}

.filter__heading.selected {
}