.products-title {
	text-transform: uppercase;
}

.products-introduction {
	max-width: 600px;
}

.filter__headings {
	display: flex;
	flex-direction: column;
}

.filter__heading {
	margin: 0 15px 0 0;
	padding: 15px;
	border: 4px solid #fff;
	cursor: pointer;
	&.selected  {
	    border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 4px solid #41403E;
	}
}

.filter__categories {
	display: flex;
	flex-wrap: wrap;
}

.filter__category {
	margin: 0 15px 0 0;
	padding: 15px;
	border: 4px solid #fff;
	cursor: pointer;
	&:hover {
		border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
		border: 4px solid #cac7c2;
	}
	&.inactive {
		color: #b9aeae;
	}
	&.selected  {
	    border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 4px solid #41403E;
	    background: #41403e;
	    color: #fff;
	}
}

.filter__features {
	display: flex;
	flex-wrap: wrap;
}

.filter__feature {
	margin: 0 15px 0 0;
	padding: 15px;
}

.filter__feature--label {
	margin: 0 15px 0 0;
	padding: 15px;
	color: #333;
	color: #a79b9b;
    text-transform: uppercase;
}

.filter__range--label {
	margin: 0 15px 0 0;
	padding: 15px;
	text-transform: uppercase;
	background: #d4cccc;
    &.inactive {
    	display: none;
    }
}

.filter__ranges {
	display: flex;
	flex-wrap: wrap;
	border: 0;
	color: #41403E;
	padding: 0;
	width: 100%;
	&:hover {
		color: #41403E;
		border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 0;
	}
	&.inactive {
		color: #41403E;
	}
}

.filter__range {
	margin: 0 15px 0 0;
	padding: 15px;
	&.inactive {
		display: none;
	}
	&:hover {
	    border-color: #fff;
	}
}

.filter__range--container {
    display: flex;
    background: #efe8e8;
}

.results-container {
	padding: 15px;
}

.results-list {
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
}

// tabs

.filter__category--tabs {
	display: block;
	&.inactive {
		display: none;
	}
}

.filter__group--tabs {

}

.filter__categories--tabs {
	position: relative;
	padding: 15px;
	background: #fff;
}

.filter__heading--tabs {
	margin: 0;
	position: relative;
	bottom: -5px;
	background: #fff;
	border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
	border: 4px solid #41403E;
	&.selected {
		border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
		z-index: 2;
		background: #41403E;
		color: #fff;
	}
	&.right {
		// margin: 0 15px 0 auto;
	}
}

.filter__heading.selected {
}

.toolbar {
    display: flex;
    border-bottom: 4px solid;
    border-radius: 255px 15px 255px 15px/15px 255px 15px 255px; 
    padding: 15px;
    flex-direction: column;
    select {
    	padding: 8px 15px;
    }
}

// results

.result---product {
	width: 100%;
	padding: 0 0 15px;
}

.toolbar--corner {
	display: flex;
	margin: 0 0 0 auto;
	padding: 8px 15px;
	align-items: center;
}

.found-count {
	padding: 16px 15px;
	margin: 0 15px 0 0;
	span {
		padding: 4px 15px;
	}
}

@media (min-width: 768px) {
	.result---product {
		padding: 15px;
		width: calc(50% - 30px);
	}
	.toolbar {
		flex-direction: row;
	}
	.filter__headings {
		display: flex;
		flex-direction: row;
	}
	.filter__heading--tabs {


		&.right {
			margin: 0 15px 0 auto;
		}
	}
	.filter__heading--tabs {

		&.selected {
			border-bottom-color: #fff;
			background: #fff;
			color: #41403E;
		}

	}
}

@media (min-width: 992px) {
	.result---product {
		padding: 15px;
		width: calc(25% - 30px);
	}
}