.products-title {
	text-transform: uppercase;
}

.products-introduction {
	max-width: 600px;
}

.filter__headings {
	display: flex;
	flex-direction: column;
}

.filter__heading {
	margin: 0 15px 0 0;
	padding: 15px;
	border: 4px solid #fff;
	cursor: pointer;
	&.selected  {
	    border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 4px solid #41403E;
	}
}

.filter__categories {
	display: flex;
	flex-wrap: wrap;
}

.filter__category {
	margin: 0 15px 0 0;
	padding: 15px;
	border: 4px solid transparent;
	cursor: pointer;
	&:hover {
		border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
		border: 4px solid #cac7c2;
	}
	&.inactive {
		color: #b9aeae;
	}
	&.selected  {
	    border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 4px solid #41403E;
	    background: #41403e;
	    color: #fff;
	}
}

.filter__features {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}

.filter__feature {
	margin: 0 15px 0 0;
	padding: 15px;
	border: 4px solid transparent;
	cursor: pointer;
	&:hover {
	    border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 4px solid #cac7c2;
	}
	&.selected {
		border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
		border: 4px solid #41403E;
		background: #41403e;
		color: #fff;
	}
}

.filter__feature--label {
	margin: 0 15px 0 0;
	padding: 0 15px 15px;
	color: #333;
	color: #a79b9b;
    text-transform: uppercase;
    width: 100%;
}

.filter__range--label {
	margin: 0 15px 0 0;
	padding: 15px;
	text-transform: uppercase;
	background: #d4cccc;
    &.inactive {
    	display: none;
    }
}

.filter__ranges {
	display: flex;
	flex-wrap: wrap;
	border: 0;
	color: #41403E;
	padding: 0;
	width: 100%;
	&:hover {
		color: #41403E;
		border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	    border: 0;
	}
	&.inactive {
		color: #41403E;
	}
}

.filter__range {
	margin: 0 15px 0 0;
	padding: 15px;
	&.inactive {
		display: none;
	}
	&:hover {
	    border-color: #fff;
	}
}

.filter__range--container {
    display: flex;
    background: #efe8e8;
}

.results-container {
	padding: 15px;
}

.results-list {
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	background: #fff;
}

// tabs

.filter__category--tabs {
	display: block;
	&.inactive {
		display: none;
	}
}

.filter__group--tabs {

}

.filter__content {
	overflow: hidden;
	border-radius: 100px 15px 15px 255px/7px 255px 255px 15px;
}

.filter__categories--tabs {
	position: relative;
	padding: 30px 15px;
	border: 0;
}

.filter__heading--tabs {
	margin: 0;
	position: relative;
	bottom: -5px;
	background: #fff;
	border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
	border: 4px solid #41403E;

	&.selected {
		border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
		z-index: 2;
		background: #41403E;
		color: #fff;
	}
	&.right {
		// margin: 0 15px 0 auto;
	}
}

.filter__heading.selected {
}

.toolbar {
    display: flex;
    border-bottom: 4px solid;
    border-radius: 255px 15px 255px 15px/15px 255px 15px 255px; 
    padding: 15px;
    flex-direction: column;
    align-items: center;
    margin: 0 -8px;
    align-items: center;
    border-color: #a9a4a4;
    background: #fff;
    border-color: #41403e;
    border-bottom-color: #fff;
    select {
    	padding: 8px 15px;
    	background: #d8d7d7;
    	border-color: #fff;
    }
}

// results

.result---product {
	width: 100%;
	padding: 0 0 15px;
}

.toolbar--corner {
	display: flex;
	margin: 0 0 0 auto;
	align-items: center;
}

.found-count {
	padding: 16px 15px;
	margin: 0 15px 0 0;
	border-color: #fff;
	display: flex;
	align-items: center;
}

.found-count--number {
	padding: 4px 15px;
	background: #d8d7d7;
	border-color: #d8d7d7;
}

.dropdown__product--img {
	.dropdown-img {
		height: 150px;
	}
}

.fixed-filter {
	width: 100%;
	&.fixed {
		position: fixed;
		top: 0;
		background: #fff;
	}
}

// hero 

.hero {
	.container {
		height: 100%;
	}
}

.hero-container {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

//

.product__colours {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -26px;
}

.product__colour {
    border: 4px solid;
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 255px 220px 255px 220px/209px 232px 208px 255px;
    margin: 0 15px;
}

.product__colour--blue {
	background: #3498db;
}

.product__colour--red {
	background: #e74c3c;
}

.product__colour--white {
	background: #fff;
}

.product__colour--gold {
	background: #f1c40f;
}

.product__colour--black {
	background: #41403E;
}

@media (min-width: 768px) {
	.result---product {
		padding: 15px;
		width: calc(50% - 30px);
	}
	.toolbar {
		flex-direction: row;
	}
	.filter__headings {
		display: flex;
		flex-direction: row;
	}
	.filter__heading--tabs {


		&.right {
			margin: 0 15px 0 auto;
		}
	}
	.filter__heading--tabs {
		margin: 0 0 0 15px;
		&.selected {
			border-bottom-color: #fff;
			background: #fff;
			color: #41403E;
		}

	}
}

@media (min-width: 992px) {
	.result---product {
		padding: 15px;
		width: calc(25% - 30px);
	}
}