.mob--container {
	padding: 15px;
}

.slinky-menu {
	background: #fff;
	a {
		color: #41403E;
		border-color: #41403E;
		padding: 15px;
		text-decoration: none;
		&:hover {
			background: #f3eeee;
		}
		&.next {
			&:after {
				margin: 0 0 0 auto;
			}
		}
	}
	& > ul {
		padding: 0;
	}

	li ul {
		padding: 0;
	}
}

// overwite slink css
a.slinky-top {
	background: #fff;
	display: flex;
	align-items: center;
}

.slink-item {
	color: #41403E;
	padding: 15px;
	display: flex;
    align-items: center;
    cursor: pointer;
    .radio {
    	&:after {
    		background: #fff;
    		height: 13px;
    		width: 13px;
    		content: ' ';
    		left: 2px;
    		position: relative;
    		top: 0;
    		border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
    		transition: all 0.5s;
    	}
    }
	&.selected {
		.radio {
			&:after {
				background: #41403E;
			}
		}
	}
}

.radio {
	display: flex;
    align-items: center;
    border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
    border: 4px solid #41403E;
    margin: 0 15px 0 0;
    height: 25px;
    width: 25px;

}

.current-selection--master {
	font-size: 12px;
	margin: 0 0 0 15px;
	display: inline-block;
    padding: 8px 15px;
    border-radius: 125px 255px 145px 255px/255px 125px 255px 145px;
	color: #fff;
    &:not(:empty) {
    	background: #41403E;
    }
}

.current-selection--parent {
	font-size: 12px;
	margin: 0 0 0 15px;
	display: inline-block;
    padding: 8px 15px;
    border-radius: 125px 255px 145px 255px/255px 125px 255px 145px;
	color: #fff;
    &:not(:empty) {
    	background: #41403E;
    }
}

.mob--result-container {
	margin: 30px 0 0;
}

.mob--result-header {
	display: flex;
	justify-content: space-around;
	select {
		padding: 8px 15px;
		background: #d8d7d7;
		border-color: #fff;
	}
}

.category-product-count {
	padding: 5px 10px;
	background: #d8d7d7;
	border-color: #d8d7d7;
	border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
	margin: 0 0 0 auto;
}