.logo {
	order: 1;
	h1 {
		margin: 0;
	}
}

.nav-container {
	background: #fff;
	position: relative;
	z-index: 99;
}

.nav {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	padding: 15px 0;
}

.nav__products {
	display: flex;
	flex-grow: 1;
	justify-content: flex-start;
	text-transform: uppercase;
	margin: 0 30px 0 0;
	order: 3;

}
.nav__product {
	margin: 0 15px 0;
	font-size: 14px;
}

// right side header content

.header-help {
	display: flex;
	align-items: flex-end;
	order: 2;
}

// Search 

.search-box {
    padding: 8px 15px;
    font-family: 'Gloria Hallelujah', cursive;
}

.search {
	display: flex;
	position: relative;
}

.mag-glass {
    position: absolute;
    right: 0;
    padding: 8px;
    img {
        width: 28px;
        height: 28px;
    }
}

.menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	img {
	    height: 28px;
	    width: 28px;
	}
}

// dropdown stuff

.dropdown-container {
	display: none;
	position: absolute;
	z-index: 2;
	animation-duration: 0.4s;

	&.animated {
		display: block;
	}
}

.dropdown__category {
	background: #fff;
	display: flex;
}

@media (min-width: 992px) {
	.nav {
		flex-wrap: no-wrap;
	}
	.logo {
		order: 1;
	}
	.nav__products {
		order: 2;
	}
	.header-help {
		order: 3;
	}
}