.logo {
	order: 1;
	padding: 0 15px 0 0;
	h1 {
		margin: 0;

	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

.nav-container {
	background: #fff;
	position: relative;
	z-index: 99;
}

.nav {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	padding: 15px 15px 0 15px;
}

.nav__products {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	text-transform: uppercase;
	order: 3;
	padding: 15px 0 0;
	flex-wrap: wrap;
	text-align: center;
}
.nav__product {
	font-size: 14px;
	min-width: calc(25% - 30px);
	margin: 0 15px 15px;
	cursor: pointer;
}

.nav-link {
	color: inherit;
	text-decoration: none;

}

// right side header content

.header-help {
	display: flex;
	align-items: center;
	order: 2;
	flex-grow: 1;
	flex-wrap: wrap;
}

// Search 

.search-container {
	flex-grow: 1;
}

.search-box {
    padding: 8px 15px;
    font-family: 'Gloria Hallelujah', cursive;
    width: 100%;
    margin: 0 0 0 auto;
    max-width: 7px;
}

.search {
	display: flex;
	position: relative;
}

.mag-glass {
    position: absolute;
    right: 0;
    padding: 8px;
    img {
        width: 28px;
        height: 28px;
    }
}

.menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 0 0 15px;
	cursor: pointer;
	img {
	    height: 28px;
	    width: 28px;
	}
}

.languages {
	display: none;
	flex-basis: 100%;
	justify-content: flex-end;
	padding: 0 0 15px;
	font-size: 12px;
	&.selected {
	    border-bottom: 2px solid;
	}
}

// dropdown stuff
// why is this here?

.dropdown-container {
	display: none;
	position: absolute;
	z-index: 2;
	animation-duration: 0.4s;
	width: 100%;
	h3 {
		text-transform: uppercase;
	}
	&.animated {
		display: block;
	}
	> .box {
		background: #fff;
	}
}

.dropdown__sidebar {
	padding: 0 15px 0 15px;
	order: 2;
	display: flex;
	justify-content: space-around;
}

.dropdown__content {
	padding: 0 15px 0;
}


.dropdown__category {
	display: flex;
	flex-direction: column;
	padding: 15px 0;
}

.dropdown__content {
	flex-grow: 1;
}

.dropdown__products {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.dropdown__product {
	padding: 0 7.5px;
	margin: 0 0 15px;
	cursor: pointer;
	&.dropdown__product--double {
		width: 50%;
	}
}


.dropdown__product--view-all {
	width: 100%;
	margin-top: 30px;
}

.dropdown__subcategories {
	margin: 0 0 30px;
	li {
	    margin: 15px 0;
	    cursor: pointer;
	}
}

.dropdown__ranges {
	li {
	    margin: 15px 0;
	    cursor: pointer;
	}
}

.dropdown-img {
	width: 100%;
	overflow: hidden;
	border: 0;
	img {
		width: 100%;
		object-fit: cover;
	}
}

.dropdown__product--heading {
	padding: 15px 15px 7.5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdown__product--title {
	font-size: 26px;
}

.dropdown__product--strapline {
	padding: 7.5px 15px 15px;
}

.view-all-link {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	.round {
		padding: 15px;
		background: #fff;
		display: flex;
		align-items: center;
	}
	&:hover {
		.round {
			background: #41403E;
			color: #fff;
		}
	}
}

.menu__icon {
	margin-right: 15px;
	img {
	    width: 28px;
	    height: 28px;
	}
}

.dropdown__product--menu {

	.dropdown-img {
		// height: 250px;
	}
}

// Sign up

.signup__label {
    font-size: 24px;
    margin-bottom: 15px;
}

.menu__signup {
    padding: 15px;
    margin: 30px 0;
}

.form {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
	> * {
	    margin: 0 0 15px;
	}
}

.submit {
    padding: 8px 15px;
    border: 4px solid #41403E;
    background: #41403E;
    color: #fff;
}

.input {
    padding: 8px 15px;
    border: 4px solid;
    margin-right: 15px;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 700;
    color: #41403e;
}

@media (min-width: 500px) {

	.search-box {
	    max-width: 200px;
	}
}

@media (min-width: 768px) {

	.dropdown__product--menu {
		width: 33%;
	}

	.dropdown__products {
		flex-direction: row;
	}

	.languages {
		display: flex;
	}
	.form {
	    flex-direction: row;
	}
}




@media (min-width: 992px) {

	.dropdown-img {
		height: 150px;
	}

	.nav {
		flex-wrap: nowrap;
		padding: 15px 0;
	}

	.logo {
		order: 1;
		padding: 0;
	}
	.nav__products {
		order: 2;
		justify-content: flex-start;
		text-align: left;
	}
	.nav__product {
		margin: 0 15px 0;
		min-width: initial;
	}
	.header-help {
		order: 3;
	}
	.header-help {
		flex-grow: 0;
	}
	.dropdown__products {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.dropdown__sidebar {
		padding: 0 15px 0 0;
		width: 25%;
		order: initial;
		flex-direction: column;

	}
	.dropdown__content {
		padding: 0 0 0 15px;
	}
	.dropdown__product {
		width: 25%;
		margin: 0;
		width: 33%;
	}
	.dropdown__product--view-all {
	    width: 100%;
	    margin-top: 30px;
	}
	.dropdown__category {
		flex-direction: row;
	}

}