body {
  font-family: 'Gloria Hallelujah', cursive;
  color: #41403E; }

.custom-box {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 4px solid #41403E; }

.box {
  border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
  border: 4px solid #41403E; }

.box__2 {
  border-radius: 15px 255px 255px 15px/255px 15px 15px 255px;
  border: 4px solid #41403E; }

.box__3 {
  border-radius: 15px 255px 15px 255px/255px 15px 255px 15px;
  border: 4px solid #41403E; }

.box__4 {
  border-radius: 255px 15px 15px 255px/15px 255px 255px 15px;
  border: 4px solid #41403E; }

.box__5 {
  border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
  border: 4px solid #41403E; }

.round {
  border-radius: 255px 145px 255px 125px/125px 255px 145px 255px;
  border: 4px solid #41403E; }

.round__2 {
  border-radius: 145px 255px 255px 125px/125px 145px 255px 255px;
  border: 4px solid #41403E; }

.round__3 {
  border-radius: 255px 255px 145px 125px/125px 145px 255px 255px;
  border: 4px solid #41403E; }

.round__4 {
  border-radius: 255px 255px 125px 145px/125px 145px 255px 255px;
  border: 4px solid #41403E; }

.round__5 {
  border-radius: 125px 255px 145px 255px/255px 125px 255px 145px;
  border: 4px solid #41403E; }

.box--varied {
  border: 4px solid #41403E;
  border-radius: 33% 55% 71% 56%/44% 48% 7% 53%;
  height: 100px;
  width: 100px;
  background: red; }

.box--random {
  border: 4px solid #41403E; }

.img-placeholder {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N0dLD7v//AIUYGHACnBEw9DRSgu4kGVqD7FgDP5wgJ4qx96gAAAABJRU5ErkJggg==); }

.img--dots {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N0dLD7v//AIUYGHACnBEw9DRSgu4kGVqD7FgDP5wgJ4qx96gAAAABJRU5ErkJggg==); }

.img--blueprint {
  background-color: #bcdff7;
  background-image: -webkit-linear-gradient(white 2px, transparent 2px), -webkit-linear-gradient(left, white 2px, transparent 2px), -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; }

.img--cross {
  background-color: #fff;
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 38px, #a4ffff 38px, #a4ffff 40px), -webkit-repeating-linear-gradient(135deg, transparent, transparent 38px, #a4ffff 38px, #a4ffff 40px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 38px, #a4ffff 38px, #a4ffff 40px), repeating-linear-gradient(-45deg, transparent, transparent 38px, #a4ffff 38px, #a4ffff 40px); }