.dropdown3 {
	width: 95%;
    // stops position: fixed bugging out
    animation-fill-mode: inherit;
}

.bang-btn {
    border: 4px solid;
    padding: 8px 15px;
    cursor: pointer;
}

.bo__nav {
    padding: 30px;
    font-size: 18px;
    text-transform: uppercase;
    border: 4px solid #41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    width: 250px;

}

.sidebar {
    &.fixed {
        position: fixed;
    }
}

.view-all-btn {
    margin: 15px 0 0 0;
    text-align: center;
    border: 4px solid;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        background: #41403E;
        color: #fff;
    }
}

.bo__container {
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.bo__nav-li {
    margin: 0 0 15px;
    &.clickable {
        cursor: pointer;
    }
}

.bo__product {

}

.bo__cat {
    margin: 0 0 120px;
}

.bo__cats {
    width: calc(100% - 300px);
    left: 300px;
    position: relative;
}

.bo__product {
    text-align: center;
}

.bo__1-product {
    padding: 15px;
    text-align: center;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 4px solid #41403E;
    margin: 0 15px 60px 15px;
    // width: 250px;
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 60px);
}

.bo__heading {
	h2 {
		margin: 0 0 30px;
        font-size: 36px;
        text-align: center;
	}
}

.purchase {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buy {
    padding: 6px 9px;
}

.hover {
    &:hover {
        background: #41403E;
        color: #fff;
    }
}