.wireframe2 {

}

.nav__products {
	display: flex;
}

.product-btn2{
	padding: 8px 15px;
	cursor: pointer;
}

.search-box2 {
    min-width: 200px;
    margin-left: auto;
}

.dropdown2 {
	padding: 15px 0;
}

.lenovo__product {
    // width: calc(20% - 30px);
    padding: 15px;
    text-align: center;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 4px solid #41403E;
    margin: 7.5px;
    margin-right: auto;
    img {
    	margin: 0 auto;
    }
}

.lenovos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7.5px;
    &:after {
        content: "";
        flex: auto;
    }
}

.lenovo__label {
    font-size: 18px;
    text-transform: uppercase;
}

.lenovo-title {
	margin: 0 0 0 15px;
}

.active {
	.arrow {
		transform: rotate(90deg);
	}
}