.wireframe4 {
	.container {
		margin: 0 auto;
		max-width: 100%;
	}

	.search-box4 {
		margin-left: auto;
		width: 100%;
	}

	@media (min-width: 768px) {
		.container {
		    width: 720px;
		    max-width: 100%;
		}

	}

	@media (min-width: 992px) {
		.container {
		    width: 960px;
		    max-width: 100%;
		}
	}


	@media (min-width: 1200px) {
		.container {
		    width: 1140px;
		    max-width: 100%;
		}
	}
}

